body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app {
  height: 100vh;
}

#inner-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#navBar {
  background-color: aqua;
}

#landing-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: red;
  height: 100%;
}

#paragraph-container,
#form-container {
  flex-basis: 50%;
  align-items: center;
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-container {
  background-color: yellow;
}

#paragraph-text,
#form {
  background-color: blue;
  flex-basis: 33%;
}

#paragraph-text {
  width: 80%;
}
