body {
  font-family: sans-serif;
  background-image: url('https://images.pexels.com/photos/449751/pexels-photo-449751.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260.jpg');
  background-color: #cccccc;
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app {
  height: 100vh;
}

#inner-app {
  display: flex;
  flex-direction: column;
}

#navBar {
  background-color: rgb(211, 211, 211, 0.5);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  font-family: 'Fira Sans Condensed', sans-serif;
  border-radius: 5px;
  padding-left: 10px;
}

#quote-author,
#prompt-add-post,
#your-post,
#add-post-heading {
  font-family: 'Fira Sans Condensed', sans-serif;
}
#prompt-add-post {
  font-size: 20px;
}

#landing-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 80vh;
}

#paragraph-container,
#form-container {
  flex-basis: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#paragraph-text,
#form {
  flex-basis: 33%;
}

#paragraph-text {
  width: 80%;
}

.form-inner-container {
  width: 270px;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: column;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 0px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 0px;
}

input[name='password'],
input[name='email'] {
  height: 150%;
  width: 170%;
}

input {
  border-radius: 5px;
}

button {
  border-radius: 5px;
  height: 30px;
  padding: 7px;
}

#submit-button {
  align-self: center;
}

#user-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#notebook {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.add-post-form-container {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.add-post {
  height: 100px;
  width: 600px;
  border-radius: 5px;
  font-size: 20px;
}

#welcome-message {
  flex-basis: 100%;
}

#add-post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-Posts {
  width: 600px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.view-post-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#update-button {
  width: 10%;
  align-self: center;
}

#your-post,
#add-post-heading {
  background-color: rgb(211, 211, 211, 0.5);
  border-radius: 5px;
  padding-left: 5px;
  width: 100%;
}
.view-post-text {
  font-size: 15px;
}

#add-post-heading {
  width: 99%;
  flex-basis: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

@media only screen and (max-width: 725px) {
  #paragraph-container {
    display: none;
  }

  .form-inner-container {
    width: 250px;
    height: auto;
  }

  .add-post-form-container {
    display: flex;
  }
  /* #add-post-heading {
    width:  100%;
  } */
}
